@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* *{
    border: red solid 3px;
} */

body{
    margin: 0;
}

h3::after{
    content: "";
    position: absolute;
    width: 130px;
    height: 5px;
    bottom: -30%;
    left: 0;
}
